/* GLobal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .d-flex {
    display: flex;
  }
  
  .btn {
    outline: none;
    border: none;
    background-color: wheat;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
  }
  select {
    appearance: none;
    outline: black;
    background-color: wheat;
    padding: 0.5rem;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    margin-right: 0.3rem;
    cursor: pointer;
    color: #0E141B;
    border-color: black;
  }
  
  .mb {
    margin-bottom: 1rem;
  }
  
  /* End GLobal Styles */
  
  .main-container {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #0E141B;
  }
  
  .clock-container {
    padding: 2rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    
    background-color: coral;
  }
  
  .current-time {
    font-size: 2rem;
    color: black;
  }
  
  .alarm-form {
    justify-content: space-between;
    width: 100%;

  }
  
  .submit-button {
    border-color: black;
    border: 10px;
    border-radius: 2rem;
    font-weight: bold;
  }
  
  .set-alarm-container {
    width: 100%;
  }
  
  .set-alarm-container .set-alarm-container-title {
    color: black;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .alarm {
    justify-content: space-between;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    align-items: center;
  
  }
  .alarm .delete-alarm {
    border-radius: 2rem;
    background-color: rgba(230, 13, 13, 0.918);
    font-weight: bold;
    color: wheat;
    font-size:xx-medium;
  }
  
  .time {
    color: #0E141B;
    font-size: 1rem;
    font-weight: bold;
  }
  .btn:focus,
  .btn:hover {
    box-shadow: red 2px 2px 2px 1px inset, #fff -2px -2px 10px 1px inset;
  }
  
  .page-title{
    background-color: red;
    align-items: center;
    text-align: center;
    color: wheat;
    padding: 10px;
  }

  
  /* style of devices of screen size less than 768px */
  @media only screen and (min-width: 600px) {
    /* adding padding to container */
    .main-container {
      padding-block: 2rem;
    }
    .clock-container{
        justify-content: center;
        border-radius: 50px;
        width: 450px;
        min-height: auto;
    }
  }